html{
    background-color: black;
    text-align: center;
}
img{
    border: 5px solid white;
    margin: 10px;
    /* margin-top: 100%; */
}
.libre-baskerville-regular{
    color: white;
    margin: 40px;
    margin-bottom: 5px;
}
h1{
    font-size: 40px;
}
#prank{
    font-size: 400px;
    margin: 0;
}
#prank-2{
    font-size: 3px;
    color: white;
    margin: 40px;
    margin-top: 0;
}
p{
    margin: 0;
}